@{
    ViewData["Title"] = "Elérhetőség";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h5>Telefonszám:</h5>
    <p>+36703983333</p>
    <h5>Email:</h5>
    <p>zolika.suveges@gmail.com</p>
    <div>
        <h5>Cím:</h5>
        <p>1172 Budapest, Nagyszékes utca 61</p>
    </div>
</div>
<div class="text-center">
    <table class="table-borderless">
        <thead>
            <h4>Nyitvatartás</h4>
        </thead>
        <tbody>
        <tr>
            <td>Hétfő:</td>
            <td>8-16</td>
        </tr>
        <tr>
            <td>Kedd:</td>
            <td>8-16</td>
        </tr>
        <tr>
            <td>Szerda:</td>
            <td>8-16</td>
        </tr>
        <tr>
            <td>Csütörtök:</td>
            <td>8-16</td>
        </tr>
        <tr>
            <td>Péntek:</td>
            <td>8-16</td>
        </tr>
        <tr>
            <td>Hétvége:</td>
            <td><b>ZÁRVA</b></td>
        </tr>
        </tbody>
    </table>
</div>