@{
    ViewData["Title"] = "Elérhetőség";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h5>Telefonszám:</h5>
    <p>+36 20 554 3380</p>
    <h5>Cím:</h5>
    <p>Budapest, XIX. Kerület Batthyány utca 61</p>
</div>
<div id="text-center">
    <table class="table-borderless">
        <thead>
        <tr>
            <td class="text-center" colspan="2">
                <h4>Nyitvatartás</h4>
            </td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <p>Hétfő:</p>
            </td>
            <td>
                <p>8-16</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Kedd:</p>
            </td>
            <td>
                <p>8-16</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Szerda:</p>
            </td>
            <td>
                <p>8-16</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Csütörtök</p>
            </td>
            <td>
                <p>8-16</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Péntek:</p>
            </td>
            <td>
                <p>8-16</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Hétvége:</p>
            </td>
            <td><b>ZÁRVA</b></td>
        </tr>
        </tbody>
    </table>
</div>