@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center div">
    <h1>Süveges Mónika Kozmetikus</h1>
    <h2>Bemutatkozás</h2>
    <div class="text-center about">
        <p id="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas. Elit duis tristique sollicitudin nibh sit amet commodo. Nulla malesuada pellentesque elit eget gravida cum sociis. Curabitur gravida arcu ac tortor dignissim convallis aenean. A pellentesque sit amet porttitor. Sapien faucibus et molestie ac. Morbi tristique senectus et netus et malesuada fames ac turpis. Donec adipiscing tristique risus nec. Feugiat vivamus at augue eget arcu dictum varius duis at. Consectetur libero id faucibus nisl tincidunt eget nullam non nisi. Volutpat odio facilisis mauris sit amet massa. Donec massa sapien faucibus et molestie ac. Vulputate mi sit amet mauris commodo.</p>
        <img class="card-img" alt="Süveges Mónika" src="~/Images/portrait.jpg"/>
    </div>
</div>

<div class="text-center div">
    <h2>Hírek és Akciók</h2>
     @await Component.InvokeAsync("News")
 </div> 
