@model List<WebApplication3.Models.News>

@if (Model != null)
{
    foreach (var news in Model)
    {
        <h3>
            @news.Summary
        </h3>
        <div class="text-center">
            <p>
                @news.Text
            </p>
            <p>
                @news.Published
            </p>
        </div>
        
    }
}
else
{
    <p>Nincs hír</p>
}