html {
    font-size: 18px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus .nav-item:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem grey;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ffeadb;
}

nav {
    background-color: #f7c5a8;
}

.div {
    background-color: #f7c5a8;
    border-radius: 20px;
    padding: 50px;
    margin-top: 20px;
}

p, b {
    color: #678a74;
}

#nav-link {
    color: #678a74;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #f39a66;
    text-shadow: 3px 3px #678a74;
}

a {
    color: #ffbaba;
}

#logo {
    height: auto;
    max-width: 180px;
}

.card-img {
    height: auto;
    min-width: 50px;
    max-width: 200px;
    border-radius: 20px;
}

#text-center {
    text-align: center !important;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

td p {
    margin: 5px;
}

#news {
    padding: 50px;
}